.calculator-container{
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  max-width: 50%;
  margin: auto!important;
  padding: 15px!important;
}
.display{
  border-style: inset;
  border-width: 4px;
}
.btn {
  border-radius: 1em;
  border-style: outset;
  border-width: 4px;
  font-size: 1em;
}
.btn:hover {
  border-style: inset;
  border-width: 4px;
}
